sqlite-trace.log

# add
/node
/perl
/php
/public
/ruby
/rust
/java

docker-compose-java.yml
docker-compose-node.yml
docker-compose-perl.yml
docker-compose-php.yml
docker-compose-ruby.yml
docker-compose-rust.yml

tmp*